GITLAB_CLIENT_ID=some_client_id
GITLAB_CLIENT_SECRET=gloas-secret

PROJECTS_BASE_PATH=/tmp/playwright-studio/projects
EXECUTIONS_BASE_PATH=/tmp/playwright-studio/executions

# this is needed only for the docker env and not for local
NODE_PATH_OVERRIDE=/app/server/node_modules